.jumbotron {
    background-color:orange;
    color: black;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: darkgoldenrod;
    color: white;
    margin-bottom: 0px;
    margin-top: 10px;
}

.btn-success{
    color:white;
    background-color: green;
}

.btn-contacto{
    padding-bottom: 10px;
}

.card-tienda{
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 15px;
}

.general-icon{
    padding: 5px 5px 5px 5px;
}

.tab-content{
    padding-top: 10px;
}

.card-header-tarjetas{
    background-color: #ffa500;
    font-weight: bold ;
}