.jumbotron {
  background-color: #ffa500;
  color: black;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #ffed2b;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-success {
  background-color: #ffed2b;
}
.btn-contacto {
  margin-top: 0px;
  margin-bottom: 10px;
}
.card-tienda {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 15px;
  margin-bottom: 0px;
}
.general-icon {
  padding: 5px 5px 5px 5px;
}
.tab-content {
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-header-tarjetas {
  background-color: #ffa500;
  font-weight: bold;
}
