@yellow: #ffed2b;
@orange: #ffa500;

.margenes(@top, @bottom) {
    margin-top: @top;
    margin-bottom: @bottom;
    
}

.jumbotron {
    background-color: @orange;
    color: black; 
}

footer {
padding: 10px 10px 0 10px;
    background-color: @yellow;
    .margenes(10px,0px);
}

.btn-success {
    background-color: @yellow; 
}

.btn-contacto {
    .margenes( 0px ,10px );
}

.card-tienda {
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    .margenes( 15px ,0px ) 
}

.general-icon {
    padding: 5px 5px 5px 5px; 
}

.tab-content {
    .margenes( 10px ,0px )
}

.card-header-tarjetas {
    background-color: @orange;
    font-weight: bold;
}
